{{#if all}}
  <div id="crop">
    <img src="{{src}}" alt="{{alt}}">
    <button class="favorite-button" form="favorite-form"></button>
  </div>
{{else}}
  <div id="image">
    <img src="{{src}}" alt="{{alt}}">
  </div>
{{/if}}
